* {
  font-family:"Calibri", sans-serif;
  color: #523A34;  
}

/*  */
body{
  background-color:rgb(229, 178, 93, 60%) ;
}


.square {
  height: 125px;
  width: 125px;
  border: 2px dotted #523A34;
  font-size: 6.5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 4rem;
  font-weight: 700;
  color: #523A34;
  letter-spacing: 0.02px;
  margin-bottom: 1rem;
}

.player {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  color: #523A34;
}

.bg_wrap {
  margin: 0 auto;
  width: 387px;
  box-shadow: 5px 10px 10px #523A34;
  margin-bottom: 2.4rem;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  height: 387px;
  width: 387px;
  background: #3AA78A
}



/* Button */
html {
  box-sizing: border-box;
  height: 100%;
}

.button {
  cursor: pointer;
  background: transparent;
  border: 0.25rem solid currentColor;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  color: #523A34;
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}
.button:hover {
  color: #523A34;;
}
.button:hover::before {
  width: 0;
}
.button:hover::after {
  height: 0;
}
.button:active {
  border-width: 0.25rem;
}
.button::before, button::after {
  content: "";
  position: absolute;
  background: rgb(229, 178, 93);
  z-index: -1;
  transition: all 0.3s;
}
.button::before {
  width: calc(100% - 0.01rem);
  height: calc(101% + .5rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.button::after {
  height: calc(100% - 5rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}



.footer {
  font-size: 1rem;
}
